<!doctype html>
<html lang="en" ng-app="guestbook" ng-controller="mainController as ctrl">

<head>
    <meta charset="utf-8">
    <title>Guestbook</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular-route.js"></script>
</head>

<body>
    <h1>Guestbook</h1>
    <br/>

    <div>
        <span ng-if="ctrl.currentUser.name">Currently logged in as </span><span class="title" ng-if="ctrl.currentUser.name">{{ctrl.currentUser.name}}</span>
        <span ng-if="!ctrl.currentUser.name">Not logged in.</span>
        
        <input ng-if="!ctrl.currentUser || !ctrl.currentUser.name" type="text" ng-model="ctrl.user.name" placeholder="Username">
        <input ng-if="!ctrl.currentUser || !ctrl.currentUser.name" type="text" ng-model="ctrl.user.password" placeholder="Password">
        <button ng-if="!ctrl.currentUser || !ctrl.currentUser.name" ng-click="ctrl.userLogin()" ng-disabled="!ctrl.user.name || !ctrl.user.password">Login</button>
        <button ng-if="!ctrl.currentUser || !ctrl.currentUser.name" ng-click="ctrl.userRegister()" ng-disabled="!ctrl.user.name || !ctrl.user.password">Register</button>
        <button ng-if="ctrl.currentUser && ctrl.currentUser.name" ng-click="ctrl.userLogout()">Logout</button>
        <button ng-if="ctrl.currentUser && ctrl.currentUser.name" ng-click="ctrl.userDelete()">Delete user</button>
    </div>
    <br/>
    
    <a href="#/posts">All posts</a><span ng-if="ctrl.currentUser && ctrl.currentUser.name"> | <a href="#/ownposts">{{ctrl.currentUser.name}}'s posts</a></span> | <a href="#/poststats">Post statistics</a> | <a href="#/userstats">User statistics</a> | <a href="#/settings">Settings</a>
    <br/>
    <br/>

    <div ng-view></div>

    <script src="js/guestbook.js"></script>
    <script src="js/controller/main_controller.js"></script>
    <script src="js/controller/all_posts_controller.js"></script>
    <script src="js/controller/own_posts_controller.js"></script>
    <script src="js/controller/post_stats_controller.js"></script>
    <script src="js/controller/user_stats_controller.js"></script>
    <script src="js/controller/settings_controller.js"></script>
    <script src="design/any.js"></script>
    <script src="design/post.js"></script>
    <script src="design/user.js"></script>
    <script src="js/modules/post.js"></script>
    <script src="js/modules/user.js"></script>
    <script src="js/modules/logger.js"></script>
    <script src="js/modules/couch.js"></script>
</body>

</html>