Posts per page:
<select ng-model="allCtrl.postsPerPage" ng-options="ppp for ppp in allCtrl.possiblePostsPerPage" ng-change="allCtrl.updateVisiblePosts()"></select>
<button ng-click="allCtrl.moveToPage(1)" ng-disabled="allCtrl.currentPage == 1 || allCtrl.pageCount() == 0">First</button>
<button ng-click="allCtrl.moveToPage(allCtrl.currentPage - 1)" ng-disabled="allCtrl.currentPage == 1 || allCtrl.pageCount() == 0">Previous</button>
Page {{allCtrl.currentPage}} of {{allCtrl.pageCount()}}
<button ng-click="allCtrl.moveToPage(allCtrl.currentPage + 1)" ng-disabled="allCtrl.currentPage == allCtrl.pageCount() || allCtrl.pageCount() == 0">Next</button>
<button ng-click="allCtrl.moveToPage(allCtrl.pageCount())" ng-disabled="allCtrl.currentPage == allCtrl.pageCount() || allCtrl.pageCount() == 0">Last</button>
<br/>

<table ng-repeat="post in allCtrl.visiblePosts">
    <col width="200"></col>
    <col width="600"></col>
    <tr>
        <td class="left">Posted by {{post.createdBy}}</td>
        <td class="title">{{post.title}}</td>
    </tr>
    <tr>
        <td class="left">on {{post.createdOn}}</td>
        <td>{{post.content}}</td>
    </tr>
    <tr>
        <td class="left" ng-if="ctrl.currentUser && ctrl.currentUser.name === post.createdBy">
            <button ng-click="allCtrl.editPost(post)">Edit</button>
            <button ng-click="allCtrl.deletePost(post)">Delete</button>
        </td>
        <td class="left" ng-if="!ctrl.currentUser || ctrl.currentUser.name !== post.createdBy"></td>
        <td class="edit" ng-if="post.editCount > 0">Edited {{post.editCount}} times, last time on {{post.editedOn}}</td>
        <td ng-if="post.editCount <= 0"></td>
    </tr>
</table>
<br/>

<form name='postForm'>
    <input type="text" name="title" ng-model="allCtrl.newPost.title" placeholder="Title" maxlength="20">
    </div>
    <br/>

    <textarea cols="40" rows="5" type="text" name="content" ng-model="allCtrl.newPost.content" placeholder="Please type your post here"></textarea>
    <br/>
    <div>
        {{140 - allCtrl.newPost.content.length}} characters left
        <button ng-click="allCtrl.submitPost()" ng-disabled="!allCtrl.newPost || allCtrl.newPost.content.length > 140 || (!allCtrl.newPost.title && !allCtrl.newPost.content)">Submit post</button>
        <button ng-if="allCtrl.editingPost" ng-click="allCtrl.cancelEditing()">Cancel editing</button>
    </div>
</form>
