<table ng-repeat="post in ownCtrl.posts">
    <col width="200"></col>
    <col width="600"></col>
    <tr class="left">
        <td class="left">Posted by {{post.createdBy}}</td>
        <td class="title">{{post.title}}</td>
    </tr>
    <tr>
        <td class="left">on {{post.createdOn}}</td>
        <td>{{post.content}}</td>
    </tr>
    <tr>
        <td class="left"></td>
        <td class="edit" ng-if="post.editCount > 0">Edited {{post.editCount}} times, last time on {{post.editedOn}}</td>
        <td ng-if="post.editCount <= 0"></td>
    </tr>
</table>
