<table>
    <col width="200"></col>
    <col width="200"></col>
    <tr>
        <td class="left">Total Posts:</td>
        <td>{{psCtrl.totalPosts}}</td>
    </tr>
    <td class="left">Total title length:</td>
    <td>{{psCtrl.totalTitleLength}} characters</td>
    </tr>
    <td class="left">Total content length:</td>
    <td>{{psCtrl.totalContentLength}} characters</td>
    </tr>
    <td class="left">Average title length:</td>
    <td>{{psCtrl.averageTitleLength}} characters</td>
    </tr>
    <td class="left">Average content length:</td>
    <td>{{psCtrl.averageContentLength}} characters</td>
    </tr>
</table>
