<h2>CouchDB</h2>
Host: <input type="text" ng-model="setCtrl.couch.host">
Port: <input type="number" ng-model="setCtrl.couch.port">
DB name: <input type="text" ng-model="setCtrl.couch.dbName">
<br/>
<br/>

Username: <input type="text" ng-model="setCtrl.couch.username">
Password: <input type="text" ng-model="setCtrl.couch.password">
<br/>
<br/>

<button ng-click="setCtrl.saveSettings()">Save</button>