<table>
    <col width="200"></col>
    <col width="200"></col>
    <tr>
        <td class="left">Total Users:</td>
        <td>{{usCtrl.totalUsers}}</td>
    </tr>
    <td class="left">Average posts per user:</td>
    <td>{{usCtrl.averageUserPostCount}}</td>
    </tr>
    <tr ng-if="usCtrl.topUsers && usCtrl.topUsers.length > 0">
        <td class="left">Top users:</td>
        <td></td>
    </tr>
    <tr ng-repeat="user in usCtrl.topUsers">
        <td class="left" align="center">{{user.name}}</td>
        <td>{{user.postCount}}</td>
    </tr>
</table>